@model List<Event>

@{
    ViewData["Title"] = "List of Events";
}

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Event Name</th>
            <th class="th-sm">Date/Time</th>
            <th class="th-sm">Location</th>
            <th class="th-sm">Information</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.EventDate.ToString("d") from @item.StartAt.ToString("t") to @item.EndAt.ToString("t")</td>
                <td>@item.Location</td>
                <td>
                    <a href="Details/@item.Id"><i class="material-icons">info</i></a>

                </td>
            </tr>

        }
    </tbody>
</table>